<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Only WARN and above from third-party libraries -->
  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="com.startfinishing" level="DEBUG" />
</configuration>
